@import "./variables.css";

.header {
  font-weight: 600;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo::before {
  content: "";
  display: block;
  width: 100px;
  height: 60px;
  background-image: url("../images/logos/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.nav {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: #292826;
}

.btn-container {
  display: flex;
  gap: 24px;
}

.theme-mode-container {
  display: flex;
  gap: 8px;
  border: 1px solid #c1b6ad;
  border-radius: 100px;
  padding: 3px;
}

.theme-mode-container .is-active {
  background-color: #b0907a;
  border-radius: 100px;
  box-sizing: border-box;
}

.theme-mode-btn {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.theme-mode-btn::before,
.menu-btn::after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
}

.theme-mode-btn.light::before {
  background-image: url("/src/images/icons/sun.png");
}

.theme-mode-btn.dark::before {
  background-image: url("/src/images/icons/moon.svg");
}

.menu-btn {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
}

.menu-btn::after {
  width: 20px;
  height: 20px;
  background-image: url("/src/images/icons/coffee-cup.png");
}
