@import "./normalizer.css";
@import "./variables.css";

.modal {
  position: fixed;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(64, 63, 61, 0.8);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.is-active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-container {
  display: flex;
  gap: 20px;
  max-width: 800px;
  color: #403f3d;
  background-color: #e1d4c9;
  border-radius: 40px;
  padding: 16px;
  margin: 0 auto;
}

.modal-image-container {
  flex: 0.8;
  max-width: 310px;
  max-height: 310px;
}

.modal-image {
  width: 100%;
  transition: scale 0.3s;
  border-radius: 40px;
}

.modal-image:hover {
  scale: 1.05;
}

.modal-info {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-list-items {
  display: flex;
  gap: 8px;
}

.product-list-title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.product-item {
  border: 1px solid #665f55;
  border-radius: 100px;
  padding: 11px;
  transition: all 0.3s;
}

.product-item:hover {
  color: #e1d4c9;
  background-color: #665f55;
}

.product-item-label {
  width: 30px;
  height: 30px;
  display: inline-block;
  color: #403f3d;
  text-align: center;
  background-color: #c1b6ad;
  border-radius: 100px;
  padding: 4px 8px;
  margin-right: 8px;
  box-sizing: border-box;
}

.product-item:hover .product-item-label {
  color: #665f55;
  background-color: #e1d4c9;
}

.product-total {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
}

.product-price {
  display: block;
}

.product-add-info {
  font-size: 10px;
  line-height: 140%;
  border-top: 1px solid #c1b6ad;
  padding: 12px 0 12px 24px;
  position: relative;
}

.product-add-info::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/src/images/icons/info-empty.svg")  center / contain no-repeat;
  top: 12px;
  left: 0;
  position: absolute;
}

.product-close-btn {
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #665f55;
  border-radius: 100px;
  padding-block: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

.product-close-btn:hover {
  color: #e1d4c9;
  background-color: #665f55;
}
