:root {
  --bg-color-primary-light: #e1d4c9;
  --bg-color-primary-dark: #292826;
  --bg-color-light: #665f55;
  --bg-color-dark: #403f3d;
  --bg-color-overlay-light: #403f3d;
  --bg-color-overlay-dark: #292826;
}
