<footer class="footer">
  <div class="social-media" id="contact-us">
    <h3 class="section-title">Sip, Savor, Smile. <span class="title-italic"><br>It’s coffee time!</span></h3>

    <ul class="social-media-list">
      <li class="social-media-list-item icon icon-tw">
        <a class="social-item" href="https://twitter.com/" target="_blank" rel="noopener noreferrer" aria-label="Twitter"></a>
      </li>
      <li class="social-media-list-item icon icon-inst">
        <a class="social-item" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="Instagram"></a>
      </li>
      <li class="social-media-list-item icon icon-fb">
        <a class="social-item" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="Facebook"></a>
      </li>
    </ul>

  </div>

  <div class="contact-us" id="contact-us">
    <h3 class="section-subtitle">Contact us</h3>

    <ul class="contact-us-list">
      <li class="contact-us-list-item icon icon-location">
        <a 
          class="contact-us-link" 
          href="https://maps.google.com/?q=8558+Green+Rd.,+LA"
          target="_blank"
          >8558 Green Rd., LA
        </a>
      </li>
      <li class="contact-us-list-item icon icon-tel">
        <a class="contact-us-link" href="tel:+16035550123">+1 (603) 555-0123</a>
      </li>
      <li class="contact-us-list-item icon icon-clock">
        <span class="contact-us-link">Mon–Sat: 9:00–23:00</span>
      </li>
    </ul>
  </div>
</div>