<header class="header" id="header">
  <a class="logo" href="/"></a>

  <nav class="nav">
    <a class="nav-link" href="#favorite-coffee">Favorite coffee</a>
    <a class="nav-link" href="#about">About</a>
    <a class="nav-link" href="#mobile-app">Mobile app</a>
    <a class="nav-link" href="#contact-us">Contact us</a>
  </nav>

  <div class="btn-container">
    <div class="theme-mode-container">
      <button class="theme-mode-btn is-active light" type="button" aria-label="Light theme"></button>

      <button class="theme-mode-btn dark" type="button" aria-label="Dark theme"></button>
    </div>

    <button class="menu-btn" type="button">Menu</button>
  </div>
</header>