<div class="header">
  <a class="logo" href="/"></a>

  <nav class="nav" id="header-nav"></nav>

  <div class="btn-container">
    <div class="theme-mode-container">
      <button class="btn theme-mode-btn light" type="button" aria-label="Light theme"></button>

      <button class="btn theme-mode-btn dark" type="button" aria-label="Dark theme"></button>
    </div>

    <a class="btn menu-btn" href="menu.html">Menu</a>

    <button class="btn mobile-side-menu" type="button"></button>
  </div>
</div>